
/*
.bg-color{
	background-color: blue;
	height: 5em;
}
*/
a{
	text-decoration: none;
	color: inherit;
	transition: 0.5s;
}
a:hover{
	text-decoration: none;
	color: inherit;
}

.white{
	font-size: 18.4px;
	font-weight: bold;
}
.white2{
	font-size: 18px;
	font-weight: bold;
	color: white;
}
.cor{
	color: #8A2BE2;
	font-family: cairo;
	font-weight: bold;
}
.espaco{
	margin-left: -150px;
}